<link rel="stylesheet" href="/styles/footer.css">


<footer>
    <div class="footer-container">
      <div class="footer-logo">
        <img src="/photos/logo2.png" alt="PawRescue Logo">
      </div>
  
      <div class="footer-links">
        <div class="footer-column">
          <a href="/tips" style="text-decoration: none; color: white;"><h4>STRAY ANIMALS</h4></a>
          <ul>
            <li>Dogs</li>
            <li>Cats</li>
            <li>Birds</li>
            <li>Rabbits</li>
          </ul>
        </div>
  
        <div class="footer-column">
          <a href="/page2" style="text-decoration: none; color: white;"><h4>"FOUND A STRAY?" QUICK HELP GUIDE</h4></a>
          <ul>
            <li>How to safely approach</li>
            <li>What to check for</li>
            <li>Immediate care tips</li>
          </ul>
        </div>
  
        <div class="footer-column">
          <a href="/adaptInfo" style="text-decoration: none; color: white;"><h4>ADOPT</h4></a>
          <ul>
            <li>Adoption details</li>
            <li>Pets for adoption</li>
            <li>Contact pet owners</li>
          </ul>
        </div>
  
        <div class="footer-column">
          <h4>RESOURCES</h4>
          <ul>
            <a href="/shelters" style="text-decoration: none; color: white;"><li>Animal rescue shelters</li></a>
            <a href="/vets" style="text-decoration: none; color: white;"><li>Veterinary clinics</li></a>
            <a href="/stores" style="text-decoration: none; color: white;"><li>Pet stores</li></a>
          </ul>
        </div>
      </div>
    </div>
    
  </footer>
  <p class="copyright">© 2025 PawRescue. All rights reserved.</p>
