<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/page4.css" />

    <title>Document</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

    <h1>Adoption and rehoming page</h1>

    <a href="/report/new">Creat a new report</a> <br>
    <a href="/report/userReports">View your reports</a> <br>
    <a href="/report/allReports">View all reports</a> <br>


    <a href="">Adopt</a>
</body>
</html>