<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/page2.css" />

    <title>HELP QUIDE</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

       <div class="main1">
    
    <h1>FOUND A <br>STRAY?</h1>
    <p>QUICK HELP QUIDE</p>
       </div> 
       <div id="bluecut1"></div>
       <div id="bluecut2"></div>
    
    <div class="sections">
        <div class="inside">
        <h1>Step 1:</h1>
        <h3>Assess the Situation</h3>
      </div>
            <p>
            <b>Is the animal injured or in distress?</b>
        </p>
            <ul>
                <li> <b>If yes:</b> Check if the injury is severe. If it`s
                     bleeding or seems life- <br> threatening, immediately contact a vet or animal welfare <br>organization. 
                     For minor injuries, try to stabilize the animal as <br> best as you can until help arrives.</li>
                <li><b>If no:</b> Observe the animal's behavior. 
                    Look for signs that it may <br>be malnourished, 
                    sick, or scared.
                </li>
            </ul>
            <img src="images/cat.jpg" alt="HungryCat">
            <p>
                <b>Is it in a dangerous location (road, extreme weather, etc.)?</b>
            </p>  
            <ul>
                <li> <b>If yes:</b> If the animal is in immediate danger 
                    (like on a busy <br> road), carefully move it to a safer area. 
                    If it`s in extreme <br> weather conditions, offer shelter and warmth.</li>
                <li><b>If no:</b> Continue observing the animal, 
                    but ensure it remains in a <br>safe, non-threatening environment.
    
                </li>
            </ul>
            
            <p>
                <b>Does it look malnourished, scared, or aggressive?</b>
            </p> 
            <ul>
                <li> <b>If malnourished:</b> Offer the animal food and fresh water if you <br>have 
                    any on hand. Be gentle and avoid overwhelming it.</li>
                <li><b>If scared:</b>  Approach cautiously, and speak softly to the animal. <br> 
                    If it seems aggressive, maintain a safe distance and avoid <br> provoking it.
                </li>
                <li><b>If no signs:</b> Proceed to the next step, assessing the situation <br>calmly.</li>
            </ul>
    </div>
    <div id="bluecut2"></div>
       <div id="bluecut1"></div>
    
       <div class="sections">
        <div class="inside">
        <h1>Step 2:</h1>
        <h3>Approach Safely</h3>
      </div>
            <p>
            <b>How do I safely approach the animal?</b>
        </p>
        <img src="images/dog.jpg" alt="HungryCat" id="img2-fix">
            <ul>
                <li> Move slowly and calmly, keeping your body language non- <br>threatening. Avoid direct eye contact as it can be interpreted <br> as a threat. Let the animal approach you if possible.</li>
                <li>Use a soft, reassuring voice to comfort the animal and avoid <br> making any loud noises that might startle it.
                </li>
            </ul>
            
            <p>
                <b>Should I offer food or water?</b>
            </p>  
            <ul>
                <li>If the animal seems hungry or weak, try offering small amounts <br>of food and fresh water. If it seems cautious, don`t force it to <br>take anything, but leave the food in a safe spot for it to come <br> to when ready.</li></ul>
    </div>
    
    <div id="bluecut2"></div>
       <div id="bluecut1"></div>
    
       <div class="sections">
        <div class="inside">
        <h1>Step 3:</h1>
        <h3>Check for Identification</h3>
      </div>
            <p>
            <b>What should I look for?</b>
        </p>
        <img src="images/dog1.jpg" alt="HungryCat">
            <ul>
                <li> Check for a collar with tags. If there`s one, read the information <br> and attempt to contact the owner immediately. </li>
                <li>If you can`t find a collar, see if there are any other signs of <br> identification like a microchip (which can be scanned at most <br>vets or animal shelters).
                </li>
            </ul>
            
            <p>
                <b>What if there`s no collar or tag?</b>
            </p>  
            <ul>
                <li>If the animal is not wearing identification, contact local <br>shelters to check if anyone has reported a missing pet. Some <br>shelters will also scan for a microchip to help identify the <br>animal`s owner.</li></ul>
    </div>
    
    <div id="bluecut2"></div>
       <div id="bluecut1"></div>
    
       <div class="sections">
        <div class="inside">
        <h1>Step 4:</h1>
        <h3>Provide Temporary Care</h3>
      </div>
            <p>
            <b>How should I handle the animal if it's scared or sick?</b>
        </p>
        
            <ul>
                
                <li> If the animal seems frightened, try not to overwhelm it with <br>too much interaction. Give it space but make sure it`s in a safe <br>area.</li>
                <img src="images/bird.jpeg" alt="HungryCat" id="img4-fix">
                <li> For sick or injured animals, keep them calm and avoid <br>unnecessary handling until you can get them professional <br>help.
                </li>
            </ul>
            
            <p>
                <b>Where can I take the animal for care?</b>
            </p>  
            <ul>
                <li>If the animal appears to need medical attention, take it to the <br><a href="/vets"><i>nearest vet or animal shelter </i></a>for immediate care. They can <br>assess the animal`s condition and offer proper treatment.</li> </ul>
                <p>
                    <b>Can I offer temporary shelter?</b>
                </p>  
                <ul>
                    <li>If possible, take the animal to a quiet, secure space in your <br>home or yard. Ensure it has access to food, water, and a <br>comfortable resting spot until you can contact a rescue <br>organization or find its owner.</li> </ul>
            </div>
            <div id="bluecut2"></div>
       <div id="bluecut1"></div>
       <div class="sections">
        <div class="inside">
        <h1>Step 5:</h1>
        <h3>Seek Help & Report</h3>
      </div>
            <p>
            <b>Who should I contact for help?</b>
        </p>
        <img src="images/missing.jpg" alt="HungryCat">
            <ul>
                <li>Contact local shelters, rescue groups, or a vet for advice. <br> Need help finding them? Check our <a href="/shelters">Resources</a> page for nearby <br>shelters and vets.</li>
            </ul>
            
            <p>
                <b>Should I report the animal?</b>
            </p>  
            <ul>
                <li>Yes, reporting helps local authorities. You can also <a href="/report/new">post</a> it on <br>our website to reach a wider audience and increase its chances <br>of being found.</li>
            
            </ul>
            
            <p>
                <b>Can I post about the found animal online?</b>
            </p> 
            <ul>
                <li>Yes! Post a description and photo on social media or our <br>website to help it get noticed.</li>
            </ul>
    </div>
    
    <div id="bluecut2"></div>
       <div id="bluecut1"></div>
    
       <div class="sections">
        <div class="inside">
        <h1>Step 6:</h1>
        <h3>Rehoming or Adoption</h3>
      </div>
            <p>
            <b>What if the owner isn`t found?</b>
        </p>
        <img src="images/cat.jpg" alt="HungryCat">
            <ul>
                <li> If no one claims the animal, consider fostering or rehoming it. <br><a href="/report/new">Post</a> on our website to help connect with adopters.
                </li>
            </ul>
            
            <p>
                <b>How do I find the animal a new home?</b>
            </p>  
            <ul>
                <li>List the animal on adoption platforms or contact rescue <br>groups. Use our website to <a href="/report/new">post</a> details and share the animal`s <br>story with potential adopters.</li>
            
            </ul>
            
    </div>
    <div id="lastly"></div>

    <%- include('./partials/_footer.ejs') %>

     </body>
</html>