<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/report/new.css" />

    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

   

      <div class="post-pic">
        <img src="/images/cat-adopt.jpg" alt="Cat Banner" style="max-width: 100%; height: auto;">
      </div>


      <hr class="divider">

      <hr class="divider1">

      <div class="form-container">
        <form action="/report/userReports" method="POST">

          <div class="form-row">
            <div class="form-group">
                <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Enter the animal’s name" required>
        </div>


        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" class="select-grey" name="gender" required>
              <option value="" disabled selected style="color: grey;">Select pet gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Unknown">Unknown</option>
            </select>
          </div>
        </div>

        <div class="form-group">
            <label for="animalType">Animal type:</label>
            <select name="animalType" id="animalType" required>
                <option value="" disabled selected>Select an animal type</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
                <option value="bird">Bird</option>
                <option value="rabbit">Rabbit</option>
            </select>
          </div>




          <div class="form-group">
            <label for="foundCondition">Rescue Status:</label>
            <select name="foundCondition" id="foundCondition" required>

                <option value="" disabled selected>Select found condition</option>
                <option value="good">Good</option>
                <option value="injured">Injured</option>
                <option value="lost">Lost</option>
                <option value="orphans">Orphans (Kittens or Puppies or Babies)</option>
                <option value="abandoned">Abandoned</option>
          </select>
        <input type="hidden" name="currentCondition" id="currentCondition"/>

          </div>


          <div id="severityContainer">
            <label for="severity">Animal injury severity:</label> <br> <br>
            <select name="severity" id="severity">
                <option value="" disabled selected>Select found injury severity</option>
                <!-- <option value="not injured" selected hidden></option> -->
                <option value="mild">Mild</option>
                <option value="moderate">Moderate</option>
                <option value="severe">Severe</option>
          </select>
        </div>



       

        <div class="form-group">
            <label for="behavior">Behavior:</label>
            <select id="behavior" name="behavior" required>
                <option value="" disabled selected>Select pet behavior</option>
              <option value="Friendly">Friendly</option>
              <option value="Shy">Shy</option>
              <option value="Energetic">Energetic</option>
              <option value="Other">Other</option>
            </select>
          </div>



          <div class="form-row">        
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="text" id="age" name="age" placeholder="Enter age or estimate if unknown" required>
            </div>



            <div class="form-group" id="breed-g">
                <label for="breed">Breed/Species:</label>
                <input type="text" id="breed" name="breed" placeholder="Enter breed or species" required>
              </div>
          </div>



          <div class="form-group">
            <label for="locationURL">Location Found:</label>
            <input type="text" id="locationURL" placeholder="Enter the location where the animal was found or surrendered" required name="locationURL" required>
          </div>


          <div class="form-group">
            <label for="needs">Special Needs:</label>
            <input type="text" id="needs" name="needs" placeholder="Any special medical, dietary, or behavioral needs?" >
          </div>



          <div class="form-group">
            <label for="description">Short Description:</label>
            <textarea id="description" placeholder="Provide a brief description of the animal’s personality, health, and other important details"></textarea>
          </div>


          <!-- <div class="form-group">
            <label for="photo">Upload Photo:</label>
            <input type="file" id="photo">
          </div> -->







        <!-- <label for="animalType">Animal type:</label>
        <select name="animalType" id="animalType" required>
              <option value="" disabled selected>Select an animal type</option>
              <option value="cat">Cat</option>
              <option value="dog">Dog</option>
              <option value="bird">Bird</option>
              <option value="rabbit">Rabbit</option>
        </select> -->
<!-- <br> 
<br> -->
        <!-- <label for="state">State:</label>
        <select name="state" id="state" required>
              <option value="" disabled selected>Select state</option>
              <option value="capital">Capital</option>
              <option value="muharraq">Muharraq</option>
              <option value="northern">Northern</option>
              <option value="southern">Southern</option>
        </select> -->
<!-- <br>
<br> -->
        <!-- <label for="city">City:</label>
        <input type="text" name="city" id="city" required/>
<br> -->
<!-- <br> -->
        <!-- <label for="locationURL">location URL:</label>
        <input type="text" name="locationURL" id="locationURL" required/> -->
<!-- <br>
<br> -->
        <!-- <label for="foundCondition">Animal condition:</label>
        <select name="foundCondition" id="foundCondition" required>
              <option value="" disabled selected>Select found condition</option>
              <option value="good">Good</option>
              <option value="injured">Injured</option>
              <option value="lost">Lost</option>
              <option value="orphans">Orphans</option>
              <option value="abandoned">Abandoned</option>
        </select>
        <input type="hidden" name="currentCondition" id="currentCondition"/> -->
<!-- <br>
<br> -->
        <!-- <div id="severityContainer">
        <label for="severity">Animal injury severity:</label>
        <select name="severity" id="severity">
            <option value="" disabled selected>Select found injury severity</option> -->
           
           
           <!-- do not uncomment it: -->
            <!-- <option value="not injured" selected hidden></option> -->
          
          
            <!-- <option value="mild">Mild</option>
            <option value="moderate">Moderate</option>
            <option value="severe">Severe</option>
      </select>
    </div> -->
<!-- <br>
<br> -->
    <!-- <label for="description">Description:</label>
    <textarea name="description" id="description" rows="4" cols="50" placeholder="Provide a detailed description..."></textarea>
 -->

        <button type="submit" class="submit-button">POST</button>


      
    </form>







    





    <script>
        const conditionSelect = document.getElementById('foundCondition')
        const severityContainer = document.getElementById('severityContainer')
        const currentConditionInput = document.getElementById('currentCondition')
        const severityInput = document.getElementById('severity')

        function toggleSeverity() {
            if (conditionSelect.value === 'injured') {
                severityContainer.style.display = 'block';
            } else {
                severityContainer.style.display = 'none'
            }
        }

        // function setSeverity() {
        //     if (conditionSelect.value !== 'injured') {
        //         severityInput.value = 'not injured';
        //     }
        // }
         
        function setFoundToCurrent(){
            currentConditionInput.value = conditionSelect.value
         }

         conditionSelect.addEventListener('change', () => {
            toggleSeverity()
            setFoundToCurrent() 
            // setSeverity()
        })
        toggleSeverity()
        setFoundToCurrent()
        // setSeverity()
    </script>


<%- include('../partials/_footer.ejs') %>

</body>
</html>




